@keyframes dash-frame {
    100% {
        stroke-dashoffset: 0;
    }
}
@layer primeng {
    .sk-knob-range {
        fill: none;
        transition: stroke 0.1s ease-in;
    }
    .sk-knob-value {
        animation-name: dash-frame;
        animation-fill-mode: forwards;
        fill: none;
    }
    .sk-knob-text {
        font-size: 1.3rem;
        text-align: center;
    }
}
