<div class="dashboard-container">
    <div class="sensor-container">
        <h2>Test</h2>
        <mat-progress-bar mode="determinate" [value]="(dummySensorValue$|async)" />
    </div>
    <div class="sensor-container">
        <h2>Formaldehyde*</h2>
        <sk-knob [ngModel]="(formaldehydeSensorValue$|async)" [max]="this.formaldehydeSensorConfig.MaxValue ?? 1"
            [marker1]="this.formStats.max" 
            marker1Color="#F006">
        </sk-knob>
    </div>
    <div class="sensor-container">
        <h2>VOC ppb</h2>
        <sk-knob [ngModel]="(voc$|async)" [max]="this.vocConfig.MaxValue ?? 1"
            [marker1]="this.vocStats.max" 
            marker1Color="#F006"
            [marker2]="this.vocStats.avg"
            marker2Color="#FFF4">
        </sk-knob>
    </div>
    <div class="sensor-container">
        <h2>CO2 ppm</h2>
        <sk-knob [ngModel]="(co2$|async)" [max]="this.co2Config.MaxValue ?? 1" 
            [marker1]="this.co2Stats.max" 
            marker1Color="#F006"
            [marker2]="this.co2Stats.avg"
            marker2Color="#FFF4">
        </sk-knob>
    </div>
</div>
<div>
    <p>
        <b>*</b>This is an unitless value which only indicates relative values
    </p>
</div>